<h1>
    {{ title }}
</h1>

<p>
    Bienvenue {{ user.name }}, que faisons-nous aujourd'hui ?
</p>

<ul>
    <li *ngFor="let client of clients">
        <app-client-item [client]="client"></app-client-item>
    </li>
</ul>